<nav dir="rtl">
    <ul>
        <li routerLink="dashboard" routerLinkActive="active-btn">
            <div class="title">
                <i class="fa-solid fa-house"></i>
                <a>لوحة التحكم</a>
            </div>
            <i class="fa-solid fa-chevron-left"></i>
        </li>
        <li routerLink="stdrequests" routerLinkActive="active-btn">
            <div class="title">
                <i class="fa-solid fa-user"></i>
                <a>الطلبات المرسلة</a>
            </div>
            <i class="fa-solid fa-chevron-left"></i>
        </li>
        <li routerLink="manage-requests" routerLinkActive="active-btn">
            <div class="title">
                <i class="fa-regular fa-note-sticky"></i>
                <a>الطلبات المتاحة</a>
            </div>
            <i class="fa-solid fa-chevron-left"></i>
        </li>
        <li routerLink="events" routerLinkActive="active-btn">
            <div class="title">
                <i class="fa-solid fa-star"></i>
                <a>الفعاليات</a>
            </div>
            <i class="fa-solid fa-chevron-left"></i>
        </li>
        <li routerLink="news" routerLinkActive="active-btn">
            <div class="title">
                <i class="fa-solid fa-newspaper"></i>
                <a>الأخبار</a>
            </div>
            <i class="fa-solid fa-chevron-left"></i>
        </li>
        <li routerLink="upload" routerLinkActive="active-btn">
            <div class="title">
                <i class="fa-solid fa-people-group"></i>
                <a>إنشاء مستخدم</a>
            </div>
            <i class="fa-solid fa-chevron-left"></i>
        </li>
        <li routerLink="profile" routerLinkActive="active-btn">
            <div class="title">
                <i class="fa-solid fa-circle-user"></i>
                <a>الملف الشخصي</a>
            </div>
            <i class="fa-solid fa-chevron-left"></i>
        </li>


    </ul>
</nav>