nav{
    min-height: 100%;
    min-width: 220px;
    padding-top: 10px;
    border-left: 1px solid var(--main-clr);

}
nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding: 10px !important;

}
ul li{
    color: var(--info-clr);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-left: 0;
    transition: .3s;
}
ul li:hover{
    color: var(--main-clr);
    padding-left: 5px;
}
li .title{
    display: flex;
    align-items: center;
}
.title i{
    font-size: 13px;
    margin: 4px;
}

/* routerLink active style */

.active-btn{
    font-weight: 500;
    color: var(--main-clr) !important;
    padding-left: 5px ;
}