<section class="main-content">
    <div class="event-form">
        <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
            <!-- title -->
            <label>العنوان</label>
            <input type="text" formControlName="name" />
            @if(eventForm.get("name")?.errors && eventForm.get("name")?.touched ){
            <div class="alert alert-warning p-2 my-2 fs-6 fw-bold">
                @if ( eventForm.get("name")?.getError("required") ){<p class="m-0">required</p>}
            </div>
            }
            <!-- Desc -->
            <label>الوصف</label>
            <textarea formControlName="desc" rows="10"></textarea>
            @if(eventForm.get("desc")?.errors && eventForm.get("desc")?.touched ){
            <div class="alert alert-warning p-2 my-2 fs-6 fw-bold">
                @if ( eventForm.get("desc")?.getError("required") ){<p class="m-0">يجب ملئ الخانة</p>}
            </div>
            }
            <!-- date -->
            <label>التاريخ</label>
            <input type="date" formControlName="date" />
            @if(eventForm.get("date")?.errors && eventForm.get("date")?.touched ){
            <div class="alert alert-warning p-2 my-2 fs-6 fw-bold">
                @if ( eventForm.get("date")?.getError("required") ){<p class="m-0">يجب ملئ الخانة</p>}
            </div>
            }
            <!-- photo -->
            <label>الصورة</label>
            <input type="file" (change)="onImageSelected($event)" accept="image/*" />
            
            @if(errMessage){
            <p class="err-alert">يجب إختيار صورة</p>
            }
            <div class="btns">
                <button type="submit">إضافة +
                    @if(loaderflag){<i class="fa-solid fa-circle-notch fa-spin"></i> }
                </button>
                <button type="button" (click)="cancelEvent()">تراجع</button>
            </div>
        </form>
    </div>
</section>