<section>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 col-sm-12">
                <div class="left-section">
                    <img src="./assets/images/Higher_Technological_Institute_logo.jpg" alt="Illustration" class="illustration" />
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="right-section">
                    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
                        <label>البريد الإلكتروني</label>
                        <input type="email" placeholder="@example.com" formControlName="email" />
                        @if(loginForm.get("email")?.errors && loginForm.get("email")?.touched ){
                        <div class="err-alert">
                            @if      ( loginForm.get("email")?.getError("required") ){<p class="m-0">يجب إدخال البريد</p>}
                            @else if ( loginForm.get("email")?.getError("email") ){<p class="m-0">البريد الالكتروني خاطئ</p>}
                        </div>
                        }

                        <label>كلمة المرور</label>
                        <div class="pass-box">
                            <input [type]="showPassFlag ? 'text' : 'password'" placeholder="password"
                                formControlName="password" />
                            <i class="fa-solid" [ngClass]="showPassFlag ? 'fa-eye':'fa-eye-slash'"
                                (click)="showPass()"></i>
                        </div>
                            @if(loginForm.get("password")?.errors && loginForm.get("password")?.touched ){
                            <div class="err-alert">
                                @if ( loginForm.get("password")?.getError("required") ){<p class="m-0">يجب إدخال كلمة مرور</p>}
                            </div>
                            }
                        <!-- Forget password -->
                        <div class="text-end my-2">
                            <span class="fg-password" routerLink="/auth/forgetpass">هل نسيت كلمة المرور ؟</span>
                        </div>
                        <p class="err-alert text-center">{{errorMessage}}</p>
                        <button type="submit" class="btn-submit">تسجيل دخول
                            @if(loader){<i class="fa-solid fa-circle-notch fa-spin"></i> }
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>