
/* -------------------------news heading------------ */
.news-heading{
    padding: 10px;

}
.news-heading button{
    background-color: var(--main-clr);
    color: white;
    padding: 10px 20px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 8px;
    transition: .2s;
}
.news-heading button:hover{
    color: var(--main-clr);
    background-color: transparent;
    border: 1px solid var(--main-clr);
}


.news{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s;
    border-left: 3px solid transparent;
}
.news:hover{
    background-color: rgb(255, 255, 255);
    border-left: 3px solid var(--main-clr);
}

/* news left --------------------------> */


.news-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.news-left .news-title{
    font-size: 14px;
    color: var(--info-clr);
}
.news-left h1{
    font-size: 25px;
    color: black;
}
.news-left p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
.news-left p.details{
    color: black;
}
.title-head{
    display: flex;
    align-items: center;
    gap: 20px;
}
.title-head h1{
    font-size: 20px;
}

/* ---------------Custome class ------------------> */

.active-star{
    color: #FF5C00;
}

/* ----------Image --------------------> */

.my-icon {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 5px;
}
.my-icon img{
    width: 100%;
    display: block;

}

/* news right -------------------------> */

.news-right button{
    margin: 5px;
    outline: none;
    border: 1px solid;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.news-right button:nth-child(1){
    border-color: var(--main-clr);
    color: var(--main-clr);
}
.news-right button:nth-child(1):hover{
    border-color: var(--main-clr);
    color:white;
    background-color: var(--main-clr);
}
.news-right button:nth-child(2){
    border-color: red;
    color: red;
}
.news-right button:nth-child(3){
    border-color: rgb(155, 155, 155);
    color:  rgb(155, 155, 155);
}
.news-right button:nth-child(3):hover{
    background-color:  rgb(155, 155, 155);
    color:  white;
}
.news-right button:nth-child(2):hover{
    border-color: red;
    color: white;
    background-color: red;
}