<section class="main-content">
    <!-- pic -->
    <div class="profile-head">
        <!-- the background -->
        <div class="bg-img">
        </div>
        <!-- private picture -->
        <div class="profile-img">
            <h1>{{profileData?.name}}</h1>
            <div class="img-bx">
                <a [href]="userImage" target="_blank">
                    <img [src]="userImage" (error)="userImage = './assets/images/profile.png'" alt="user image" />
                </a>
            </div>
        </div>
    </div>
    <!-- cahnge-pic -->
    <div class="chnage-pic">
        <div class="pic-btns">
            <div class="pic-bx">
                <img [src]="userImage" (error)="userImage = './assets/images/profile.png'" alt="user image" />
            </div>
            <label for="file-btn" id="change-pic">تغيير</label>
            <input type="file" id="file-btn" hidden (change)="changeImage($event)">
            <a (click)="removeImage()">إزالة</a>
        </div>
        <div class="title">
            <h4>صورة الملف الشخصي</h4>
            <p>صورة التى تظهر على ملفك الشخصي</p>
        </div>

    </div>
    <!-- general info -->
    <div class="info" dir="rtl">
        <h4>تفاصيل</h4>
        <table>
            <tr>
                <td>البريد الالكتروني</td>
                <td class="table-title">{{profileData?.email}}</td>
            </tr>
            <tr>
                <td>رقم الهاتف</td>
                <td class="table-title">{{profileData?.phone_number}}</td>
            </tr>
            <tr>
                <td>القسم</td>
                <td class="table-title">{{profileData?.major}}</td>
            </tr>
        </table>
    </div>
    <!-- change password -->
    <div class="change-pass">
        <div class="title">
            <h4>تغيير كلمة المرور</h4>
            <p>اختيار كلمة مرور جديدة</p>
        </div>
        <a (click)="passWindowFlag = !passWindowFlag">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="#6E6E6E"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                    [attr.d]="passWindowFlag?'M8.46875 13.4599L11.9987 9.93994L15.5287 13.4599':'M15.53 10.54L12 14.06L8.47 10.54' "
                    stroke="#6E6E6E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>
    </div>
    @if(passWindowFlag){
    <div class="password-form" #targetSection>
        <form (ngSubmit)="updatePassword()" [formGroup]="resetPasswordForm">
            <div class="form-group">
                <label>كلمة المرور الجديدة</label>
                <div class="input-wrapper">
                    <input [type]="showPassFlag2 ? 'text' : 'password'" formControlName="newPassword">
                    <i class="icon fa-solid" [ngClass]="showPassFlag2 ? 'fa-eye':'fa-eye-slash'"
                        (click)="showPassFlag2 = !showPassFlag2"></i>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label>تأكيد كلمة المرور</label>
                <div class="input-wrapper">
                    <input [type]="showPassFlag3 ? 'text' : 'password'" formControlName="rePassword">
                    <i class="icon fa-solid" [ngClass]="showPassFlag3 ? 'fa-eye':'fa-eye-slash'"
                        (click)="showPassFlag3 = !showPassFlag3"></i>
                </div>
            </div>
            @if(successMessage){
                <p class="succ-alert">تم تغيير كلمة المرور بنجاح</p>
            }
            @if(required){
            <p class="err-alert">تأكد من المدخلات</p>
            }
            @if(errMessage){
            <p class="err-alert">فشلت العملية</p>
            }
            <div class="form-actions">
                <button type="button" class="cancel" (click)="cancelEdit()">تراجع</button>
                <button type="submit" class="submit">تغيير</button>
            </div>
        </form>
    </div>
    }


</section>
